
<div class="container-fluid">
  <a (click)="logout()" class="float-right" style="color: dodgerblue">Logout</a>
  <a routerLink="/home" class="float-right">Home &nbsp; </a>

  <h1>Profile</h1>

  <input [(ngModel)]="username"
         placeholder="username"
         class="form-control"/>
  <input [(ngModel)]="firstName"
         placeholder="first name"
         class="form-control"/>
  <input [(ngModel)]="l"
         placeholder="lastName"
         class="form-control"/>
  <input [(ngModel)]="user.email"
         placeholder="email"
         class="form-control"/>
  <br/>
  <button (click)="update(username, firstName, lastName, email)"
          class="btn btn-primary btn-block">
    Update
  </button>

  <h2>Sections ({{sections.length}})</h2>
  <ul class="list-group">
    <li *ngFor="let enrollment of sections" class="list-group-item">
      {{enrollment.section.name}}
      ({{enrollment.section.seats}})
      <button class="float-right btn btn-primary">Un-Enroll</button>
    </li>
  </ul>

</div>
